<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/dfarewells_1701921253336.jpeg" width="200" alt="Ridwan" class="img-thumbnail rounded-circle">
      <h1 class="display-4"><b>Ridwan Ahmad Fauzan</b></h1>
      <p class="lead">Undergraduate Informatics Engineering Students</p>
    </div>
  </div>
</div>